.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-dropdown-menu-title-content,
.ant-dropdown-menu-submenu-title {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
